<h2>Редактирование профиля</h2>

<div class="row">
  <div class="col-md-6 buffer-top">
    <%= render 'form' %>

    <p class="buffer-top">
    <div class="col-10">
      <%= link_to t('.change_password'), edit_user_registration_path %>
    </div>
    </p>
  </div>
</div>